* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    border: none;
    outline: none;
    font-weight: 600;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

.content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
}

.subtitle h5 {
    color: #fff;
    animation: animate 1s linear infinite;
    position: absolute;
    top: 60%;
}

.subtitle {
    text-align: center;
    width: 50%;
    height: 50px;
    position: absolute;
    top: 60%;
    left: 50%;
    font-family: 'Press Start 2P';
}

@keyframes animate {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.7;
    }
    100% {
        opacity: 0;
    }
}

.text {
    color: yellow;
    font-size: 80px;
    z-index: 2;
    position: absolute;
    text-align: center;
    font-family: 'press start 2p', cursive;
    color: #c4e538ff;
}

video {
    width: 100%;
}

.top {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 20px;
}

button {
    background: #c4e538;
    color: #fff;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 8px;
    width: 110px;
    padding: 8px;
    margin: 5px;
    font-size: 16px;
}

button:hover {
    background: rgba(249, 179, 40, 0.8);
}

.footer {
    height: 320px;
    width: 100%;
    position: absolute;
    bottom: calc(-100% + 300px);
    background-color: #0c0d0e;
    /* display: flex; */
    display: none;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px;
}

.about {
    width: 500px;
    text-align: justify;
    color: #fff;
}

.about h2 {
    text-align: center;
}

.video {
    width: 400px;
    height: 250px;
    background-color: rgba(249, 179, 40, 0.8);
}


/*                                 MOBILE
-----------------------------------------------------------------------*/

@media screen and (max-width:990px) {
    /* video{
    width:initial;
  } */
    .subtitle {
        top: 65%;
    }
    .top {
        justify-content: space-around;
    }
    .footer {
        padding: 10px;
        /* bottom: calc(-100% + 500px); */
        /* bottom:-100%; */
        top: 85%;
        height: 650px;
    }
    .about,
    .video {
        width: 100%;
    }
}


/*                                 LOGIN
-----------------------------------------------------------------------*/

h1,
h2,
h6 {
    margin: 0;
}


/*
.buttons {
    width: 100%;
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
}
*/

button {
    background: #c4e538;
    color: #fff;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 8px;
    width: 110px;
    padding: 8px;
    font-size: 16px;
    margin: 5px;
}

button:hover,
.modal #submit:hover,
.modal .button:hover {
    background: rgba(249, 179, 40, 0.8);
}


/*                                 MODAL
-----------------------------------------------------------------------*/

#fundo-modal-login,
#fundo-modal-registro {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.35);
    transition: 400ms;
}

#fundo-modal-login.hide,
#fundo-modal-registro.hide {
    opacity: 0;
    visibility: hidden;
}

.modal {
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    min-width: 300px;
    max-width: 38vw;
    min-height: 300px;
    max-height: 40vw;
    border-radius: 14px;
    border: 1px solid #c4e538;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal#modal-registro {
    max-width: 40vw;
    min-height: 300px;
    max-height: 40vw;
}

.exit {
    position: absolute;
    left: 95%;
    top: 0;
    cursor: pointer;
}


/* FORM
-------------------------------------------------*/

.modal form {
    margin: 0 auto;
}

.modal label {
    padding-top: 15px;
    letter-spacing: 0.5px;
    display: block;
}

#content {
    width: 90%;
    height: 90%;
}

.modal input,
.modal select {
    padding: 8px;
    font-size: 16px;
    width: 95%;
    outline: none;
    border: none;
    border-bottom: 2px solid #6b6b6b;
    background-color: rgba(250, 180, 41, 0.1);
}

.modal input:focus,
select:focus {
    border-bottom: 2px solid #c4e538;
}

.modal #submit {
    background: #c4e538;
    color: #fff;
    float: right;
    cursor: pointer;
    border: none;
    border-radius: 2px 40px 7px;
    padding: 12px;
    width: 42%;
    font-size: 16px;
}

#registrar-login {
    text-decoration: none;
    width: 30px;
    color: #fff;
}

.modal .button {
    background: #c4e538;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 2px 40px 7px;
    width: 42%;
    padding: 12px;
    font-size: 16px;
}

form h6 {
    margin: 25px 0 1px;
    color: #6b6b6b;
    text-decoration: underline #c4e538;
    font-weight: 400;
}